<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travellovisor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travellovisor" >
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".transportation.ChooseSeats"
            android:exported="false" />
        <activity
            android:name=".transportation.TimeSelection"
            android:exported="false" />
        <activity
            android:name=".transportation.BusTime"
            android:exported="false" />
        <activity
            android:name=".transportation.Bus_Source"
            android:exported="false" />
        <activity
            android:name=".transportation.BusDestination"
            android:exported="false" />
        <activity
            android:name=".YourPackageList"
            android:exported="true" />
        <activity
            android:name=".YourTourPackage"
            android:exported="true" />
        <activity
            android:name=".UsersProfile"
            android:exported="true" />
        <activity
            android:name=".services.TourPackageDetails"
            android:exported="true" />
        <activity
            android:name=".SlideShow"
            android:exported="true" />
        <activity
            android:name=".services.TourPackages"
            android:exported="true" />
        <activity
            android:name=".account.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".account.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".services.TravelGuideDetails"
            android:exported="true" />
        <activity
            android:name=".services.TravelGuide"
            android:exported="true" />
        <activity
            android:name=".services.FindPlaces"
            android:exported="false" />
        <activity
            android:name=".account.OTPverifyActivity"
            android:exported="false" />
        <activity
            android:name=".account.OTPsendActivity"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>